.imagen-curso-view {
    height: 20em;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.fondo-portada-curso {
    @media(min-width: $desktop) {
        position: absolute;
    }
}
.categorias-curso-view {
    position: absolute;
    bottom: 0;
    left: 0;
}
.testimonial {
    position: relative;
}
.imagen-usuario-testimonial {
    position: absolute;
    top: 0;
    right: 0; 
    padding: 1em;
    img {
        height: 50px;
        width: 50px;
    }
}
.accordion-button:not(.collapsed) {
    color: $color-dark;
    background-color: white;
}
.lecciones {
    padding-top: 2em;
}
.leccion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .formatos-leccion {
        font-size: 1.4em;
    }
}
@media(min-width: $desktop) {
    .precio-curso-view {
        text-align: right;
    }
}