@import "variables.scss";

@media (min-width: $tablet) {
    .form-busqueda {
        display: flex;
        .input-busqueda  {
            width: 100%;
        }
        .categoria-busqueda {
            width: auto;
        }
        .boton-busqueda {
            width: auto;
        }
    }
}

.navegacion-home {
    ul {
        border-bottom: 1px solid $color-gris;
        li {
            padding: 1em 0;
            a {
                color: $color-primario;
                text-align: center;
                font-weight: 700;
            }
        }
        .item-active {
            border-bottom: 4px solid $color-primario;
        }
    }
}
.curso {
    height: auto;
    .contenedor-imagen-curso {
        padding-right: 0;
    }
    .contenedor-cuerpo-curso {
        padding-left: 0;
    }
    .titulo-curso {
        margin-bottom: 1em;
    }
    @media (min-width: $tablet) {
        .contenedor-imagen-curso {
            padding-right: 0.75em;
        }
        .contenedor-cuerpo-curso {
            padding-left: 0.75em;
        }
    }
    .contenedor-imagen-curso {
        .imagen-curso {
            height : 158px;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
    @media (min-width: $tablet) {
        .contenedor-imagen-curso {
            padding: 0.8em 1.5em 0.8em 1.5em;
        }
    }

    .calificacion-curso {
        bottom: 2; 
        left: 2;
    }
    @media (min-width: $tablet) {
        .calificacion-curso {
            top: 0; 
            left: 0;
        }
    }
}
.boton-ver-mas-cursos {
    width: 100%;
}
@media (min-width: $tablet) {
    .boton-ver-mas-cursos {
        width: 30%;
    }
}
@media (min-width: $desktop) {
    #contenedorCursos {
        padding-top: 4em;
    }
    .cursos {
        position: relative;
        margin-bottom: 2em;
        .fondo-seccion-cursos {
            width: 80vw;
            margin: 0 auto;
            height: 100px;
            border-radius: 2em;
            background-color: $color-terciario;
            position: absolute;
            bottom: -2%;
            z-index: -1;
        }
    }
    .boton-ver-mas-cursos {
        width: 20%;
    }
}
