@import 'variables';
.contenedor-imagen-curso-kardex {
    height: 60px;
    .imagen-curso-kardex {
        height: 60px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}
@media (min-width: $tablet) {
    .contenedor-imagen-curso-kardex {
        height: 100px;
        .imagen-curso-kardex {
            height: 100px;
        }
    }
}
.form-busqueda-avanzada-kardex {
    background-color: white;
    color: $color-dark;
    padding: 1em 2em;
    display: block;
    .boton-busqueda-avanzada-kardex {
        width: 100%;
    }
    label {
        margin-bottom: 0.4em;
    }
    input, .form-check, select {
        margin-bottom: 1em;
    }
}

