@import 'variables';

.contenedor-preview {
    height: 250px;
    width: 100%;
    border: 1px solid $color-terciario;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.videopromo-preview {
    height: 250px;
    width: 100%;
    object-fit: cover;
}
