@import 'variables';
.color-primario {
    color: $color-primario;
}
.color-secundario {
    color: $color-secundario;
}
.color-light {
    color: $color-light;
}
.color-success {
    color: $color-success;
}
.color-star {
    color: $color-star;
}
.bg-light-nb {
    background-color: $color-light;
    color: $color-dark;
}
.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.bg-primario {
    background-color: $color-primario;
    color: $color-light;
}
.boton-primario {
    background-color: $color-primario;
    color: $color-light;
    padding: 0.4em 1em;
    &:hover {
        background-color: $color-primario-hover;  
        color: $color-light;
    }
}
.bg-secundario {
    background-color: $color-secundario;
    color: $color-dark;
}
.bg-terciario {
    background-color: $color-terciario;
    color: $color-dark;
}
.boton-secundario {
    background-color: $color-secundario;
    color: $color-dark;
    padding: 0.4em 1em;
    &:hover {
        background-color: $color-secundario-hover;  
    }
}
.boton-secundario-glow {
    background-color: $color-secundario;
    box-shadow: 0 5px 15px rgba(195, 238, 129, .4);
    color: $color-dark;
    padding: 0.4em 1em;
    &:hover {
        background-color: $color-secundario-hover;  
    }
}
.borde-primario {
    border: 2px solid $color-primario;
    color: $color-primario;
    &:hover {
        border: 2px solid $color-primario;
    }
}
.borde-secundario {
    border: 2px solid $color-secundario;
    color: $color-dark;
    &:hover {
        border: 2px solid $color-secundario;
    }
}
.boton-terciario {
    background-color: $color-terciario;
    color: $color-dark;
    padding: 0.4em 1em;
    &:hover {
        background-color: $color-terciario-hover;  
    }
}
.borde-terciario {
    border: 1px solid $color-terciario;
    color: $color-dark;
}
.boton-float {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
	right: 0;
    margin: 0 auto 2em auto; 
}
.logo {
    color: $color-secundario;
    font-size: 1.2em;
    font-family: $fuente-primaria;
    font-weight: 800;
}
.linea-vertical {
    border: 1px solid $color-dark;
}
.titulo-curso {
    font-weight: 600;
}
.icono-volver {
    font-weight: bolder;
    cursor: pointer;
    font-size: 1.8em;
}
.icono-error {
    font-weight: bold;
    color: $color-error;
}
.icono-success {
    font-weight: bold;
    color: $color-success;
}
.contenido {
    width: 100%;
    min-height: 80vh;
    padding: 1em 1em;
}