$color-primario: #081826;
$color-primario-hover: #000000;
$color-secundario: #c3ee81;
$color-secundario-hover: #88b498;
$color-terciario: #cee3fe;
$color-terciario-hover: #648494;
$color-success: #22bb33;
$color-error: #ff3333;
$color-light: #ecf4f0;
$color-gris: #c4c4c4;
$color-dark: #2b2b2b;
$color-star: #ffa371;

$fuente-primaria: 'Manrope', sans-serif;
$fuente-secundaria: 'Open Sans', sans-serif;


$desktop: 1024px;
$tablet: 768px;